name: CD - Build & Deploy on Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH to server & deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: frontend_workify
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/frontend_workify
            ./deploy.sh
